<div class="wrapper">
  <header class="nameTitle">
    <div class="nameTitle">編輯玩家</div>
  </header>
  <section>
    <%= form_for(@player, url: liff_player_path(@player.id, source_id: params[:source_id])) do |f| %>
      <div class="inputValue">
        <div class="name1">名稱</div>
        <div class="small_input"><%= f.text_field :name  %></div>
        <div class="name2">暱稱</div>
        <div class="small_input"><%= f.text_field :nickname %></div>
      </div>
        <%= submit_tag '更新', class: 'normal', data: { disable_with: '更新' } %>
    <% end %>
  </section>
</div>
<%= link_to '返回', liff_players_path(source_id: params[:source_id]), class: 'secondary' %>
<%= render(partial: 'liff/init', locals: { liff_id: Setting.liff_ids.player_edit }) %>