<div class="wrapper">
  <header class="nameTitle">
    <div class="nameTitle">管理玩家</div>
  </header>
  <table>
    <tr>
      <td>名稱</td>
      <td>暱稱</td>
      <td>動作</td>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <th><%= player.name %></th>
        <th><%= player.nickname %></th>
        <th>
          <%= link_to '編輯', edit_liff_player_path(player.id, source_id: params[:source_id]), class: 'edit' %> &nbsp; &nbsp;   
          <%= link_to '刪除', liff_player_path(player.id, source_id: params[:source_id]), class: 'delete', method: :delete %>
        </th>
      </tr>
    <% end %>
  </table>
</div>

<%= render(partial: 'liff/init', locals: { liff_id: Setting.liff_ids.player_edit }) %>