<h2>編輯帳號</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <h4>信箱：<%= @user.email %></h4>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :name, label: '名稱' %>

    <%= f.input :password,
                label: '更新密碼',
                hint: "如果沒有要更新密碼則不需填寫",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: '密碼確認',
                required: false,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "更新", class: "btn btn-success" %>
    <%= link_to "返回", :back, class: "btn btn-secondary" %>
  </div>
<% end %>


