<div class="home_wrapper">
  <div class="outer_wrapper">
    <div class="logo">
      <h1>註冊</h1>
      <hr>
        <div>
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          <%= image_tag("google_button.png") %>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="formField">
      <%= simple_form_for(@user, url: registration_path(@user)) do |f| %>
        <%= f.input :email, label: false, require: false, autofocus: true, input_html: { autocomplete: "email", :class => 'full'}, placeholder: '信箱' %>
        <%= f.input :password, label: false, require: false, input_html: { autocomplete: "current-password", class: 'full' }, placeholder: '密碼' %>
        
        <button type="submit">註冊</button>  
      <% end %>
    </div>
  </div>
</div>
