
<div class="home_wrapper">
  <div>
    <%= image_tag("logo_green.jpg", class: 'login_logo') %>
  </div>
  
  <div class="outer_wrapper">
    <div class="logo">
      <h1>登入</h1>
      <hr>
        <div>
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          <%= image_tag("google_button.png") %>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="formField">
      <%= simple_form_for(@user, url: user_session_path) do |f| %>
        <%= f.input :email, label: false, require: false, autofocus: true, input_html: { autocomplete: "email", :class => 'full'}, placeholder: '信箱' %>
        <%= f.input :password, label: false, require: false, input_html: { autocomplete: "current-password", class: 'full' }, placeholder: '密碼' %>
        <div class="check"><input type="checkbox"/><span>記住我</span></div>
        <button type="submit">登入</button>  
      <% end %>
    </div>
    <div class="formField">
      <%= link_to '註冊', new_user_registration_path, class: "sign_up" %>
    </div>
  </div>
</div>
