<h1>登入</h1>
<div class="home_div">
  <div>
    <div>
      <%= simple_form_for(@user, url: user_session_path) do |f| %>
        <%= f.input :email, label: false, require: false, autofocus: true, input_html: { autocomplete: "email"}, placeholder: '信箱' %>
        <%= f.input :password, label: false, require: false, input_html: { autocomplete: "current-password" }, placeholder: '密碼' %>
        <%= f.input :remember_me, label: '記住我', as: :boolean %>
        <%= f.button :submit, "登入" %>
      <% end %>
    </div>
    <div>
      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <%= image_tag("google_button.png") %>
      <% end %>  
    </div>
  </div>
</div>
