<h1>戰績表</h1>

<div id="accordion">
  <div class="btn-group">
    <%= link_to '表格', '#table', { class: "collapsed card-link btn btn-primary", 'data-toggle':"collapse" }%>
    <%= link_to '圖表', '#score', { class: "collapsed card-link btn btn-primary", 'data-toggle':"collapse" }%>
    <%= link_to '歷史成長', '#line', { class: "collapsed card-link btn btn-primary", 'data-toggle':"collapse" }%>
  </div>
  <div id="table" class="collaps show" data-parent="#accordion">
    <%= render 'games/concerns/table' %>
  </div>
  <div id="score" class="collapse" data-parent="#accordion">
    <canvas id="myChart"></canvas>
  </div>
  <div id="line" class="collapse" data-parent="#accordion">
    <canvas id="myLine"></canvas>
  </div>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= raw(@score_chart[:labels]) %>,
        datasets: [{
            barThickness: 12,
            label: '總金額',
            data: <%= raw(@score_chart[:data]) %>,
            backgroundColor: <%= raw(@score_chart[:bg_color]) %>,
            borderWidth: 1
        }]
    },
    options: {
        maintainAspectRatio: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var li = document.getElementById('myLine').getContext('2d');
var myLineChart = new Chart(li, {
    type: 'line',
    data: {
        labels: <%= raw(@history_chart[:dates]) %>,
        datasets: [
            <% @history_chart[:datasets].each do |dataset| %>
                {
                    data: <%= raw(dataset[:data]) %>,
                    borderColor: "<%= raw(dataset[:color]) %>",
                    fill: false,
                    label: "<%= raw(dataset[:name]) %>"
                },
            <% end %>
        ]
    },
    options: {
        maintainAspectRatio: true,
        elements: {
            line: {
                tension: 0.1
            }
        },
      title: {
          display: true,
          text: '金額走向'
      }
    }
});
</script>