<div class="wrapper">
  <header>
    <div class="nameTitle">統計表</div>
  </header>
  <table>
    <tr>
      <th>姓名</th>
      <th>分數</th>
      <th>場數</th>
      <th>將數</th>
      <th>贏數</th>
      <th>輸數</th>
      <th>勝率</th>
      <th>Other</th>
    </tr>

    <% @reports.each do |report| %>
    <tr>
      <td><%= report[:name] %></td>
      <th><%= report[:total_score] %></th>
      <td><%= report[:game_count] %></td>
      <th><%= report[:gian_count] %></th>
      <td><%= report[:win] %></td>
      <td><%= report[:lose] %></td>
      <td><%= report[:win_rate] %></td>
      <td><%= link_to '紀錄', liff_records_single_path(player_id: report[:id], source_id: params[:source_id]), class: 'edit' %></th>
    <tr>
    <% end %>
  </table>
</div>