<h1>玩家</h1>

<%= form_tag('/liff2/players', method: :post) do %>
  <%= text_field_tag 'name', nil, placeholder: '新玩家名稱' %>
  <%= hidden_field_tag 'room_id', @room_id %>
  <%= submit_tag '新增' %>
<% end %>

<ul>
  <% @room.players.reverse.each do |player| %>
  <li><%= player.name %></li>
  <% end %>
</ul>
