<div class="new-game">
  <%= form_tag('/liff2/games') do %>
  <h1>記錄新遊戲</h1>
  <input type="hidden" name="room_id" value="<%= @room.id %>" />
  <div>
    <% @players.each do |player| %>
      <div class="score-group">
        <div class="name-group">
          <span class="left"><%= player.name %></span>
          <span class="right"><%= player.score_sum %></span>
        </div>
        <input type="number" name="records[][score]" onkeyup="sum_check()"/>
      </div>
      <input
      type="hidden"
      name="records[][player_id]"
      value="<%= player.id %>"
      />
    <% end %>
  </div>
  <div class="skip-check-group">
    <input type="checkbox" name="skip_check" id="skip_check" onclick="sum_check()">
    <label for="skip_check">跳過檢查</label>
  </div>
  <button class="submit-group" type="submit">總和不為零</button>
  <span id="current-sum">-</span>
  <% end %>
</div>
  
  <script>
    function sum_check() {
      let sum = 0
      const inputs = document.querySelectorAll('input[type=number]')
      const hint = document.querySelector('#current-sum')

      for (let i = 0; i < inputs.length; i++) {
        sum += +inputs[i].value
      }

      if (sum === 0) {
        hint.innerHTML = 'ok';
        enable_button(true)
      } else {
        hint.innerHTML = sum;
        enable_button(false, sum)
      }
    }

    function enable_button(enable=false, sum) {
      const btn = document.querySelector('button')
      const skip_check = document.querySelector('input[type=checkbox]').checked

      if (!!enable || skip_check) {
        btn.disabled = false
        btn.textContent = '儲存'
      } else {
        btn.disabled = true
        if (!!sum) {
          btn.textContent = `總和不為零 (${sum})`
        } else {
          btn.textContent = `總和不為零`
        }
      }
    }

    enable_button(false)
  </script>
</form>
