<table>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to '編輯', edit_room_player_path(@room.id, player.id) %></td>
      <td>ID：<%= player.id %></td>
      <td>姓名：<%= player.name %></td>
      <td>暱稱：<%= player.nickname %></td>
      <% if player.hidden %>
        <td><%= link_to '顯示', triggle_hidden_room_player_path(@room.id, player.id), method: :post %></td>
        <td>隱藏中</td>
      <% else %>
        <td><%= link_to '隱藏', triggle_hidden_room_player_path(@room.id, player.id), method: :post %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to '返回', room_path(@room) %>