<h1>管理玩家</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>名稱</th>
      <th>暱稱(Line 使用)</th>
      <th>功能</th>
      <th>隱藏</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.nickname %></td>
        <td><%= link_to '編輯', edit_room_player_path(@room.id, player.id), class: "btn btn-success" %></td>
        <td>
          <div class="btn-group">
            <% if player.hidden %>  
              <%= link_to '顯示', triggle_hidden_room_player_path(@room.id, player.id), method: :post, class: "btn btn-light" %>
              <%= link_to '隱藏', '', class: "btn btn-primary" %>
            <% else %>
              <%= link_to '顯示', '', class: "btn btn-primary" %>
              <%= link_to '隱藏', triggle_hidden_room_player_path(@room.id, player.id), method: :post, class: "btn btn-light" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>

<%= render 'new' %>
