<div class="modal-header">
  <h4>加入<%= @room.name %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= form_tag join_room_path(@room) do %>
<div class="modal-body">
  <p>
    Enter the password <%= password_field_tag(:password) %>
  </p>
  <%= hidden_field_tag(:id, @room.id) %>
  <%= submit_tag 'send' %>
</div>
<hr>
<p>OR <%= link_to '要求加入', ask_room_roles_path(@room), method: :post, remote: true %></p>
<% end %>