<h1>設定</h1>
<div class="createRoom">
  <%= simple_form_for @room do |f| %>
    <%= f.input :name, label: false %>
    <div class="alert alert-primary">
      <strong>邀請碼：</strong><%= @room.invite_code %>
    </div>
    <%= f.button :submit, class: 'btn btn-success', value: '更新' %>
  <% end %>
  <%= image_tag("qr_code.png", class: 'qr_code') %>
  <hr>
</div>