<h1>設定</h1>
<%= simple_form_for @room do |f| %>
  <%= f.input :name, label: '房間名稱' %>
  <%= f.input :date_format, collection: date_format_select, selected: @room.date_format, label: "時間顯示格式" %>
  <%= f.button :submit, class: 'btn btn-secondary', label: '更新' %>
  <%= link_to '返回', room_path(@room) %>
  <h3>邀請碼：<%= @room.invite_code %></h3>
<% end %>

<%= link_to '離開房間', left_room_path(@room), method: :post %>
