<h1><%= @room.name %></h1>

<%= link_to '編輯所有玩家', room_players_path(@room.id), method: :get %>
<%= link_to '新增玩家', new_room_player_path(@room.id), method: :get %>
<hr>
<h4>快速紀錄</h4>

<%= form_tag(records_path, remote: true) do %>
  <%= hidden_field_tag "room_id", @room.id %><br>
  <% @players.each do |player| %>
    <%= hidden_field_tag "records[]player_id", player.id %>
    <%= player.name %>:
    <%= text_field_tag "records[]score" %><br>
  <% end %>
  <%= submit_tag 'send' %>
<% end %>

<div id="valid_result"></div>

<hr>
<h4>戰績表</h4>

<table class="table table-bordered">
  <% @headers.each do |header| %>
    <tr>
      <% header.each do |h| %>
        <th><%= h %></th>
      <% end %>
    </tr>
  <% end %>
  <% @bodys.each do |records| %>
    <tr>
      <% records.each do |record| %>
        <td><%= record %></td>
      <% end %>
    </tr>
  <% end %>
</table>
