<h1><%= @room.name %></h1>

<hr>
<% if current_user.has_role?(:member, @room) %>
  <h4>在房間內</h4>
  <%= link_to '離開房間', left_room_path(@room), method: :post %>
<% else%>
  <h4>沒在房間內</h4>
  <%= link_to '加入房間', join_room_path(@room), method: :post %>
<% end %>
<hr>
<%= link_to '編輯房間', edit_room_path(@room) %>

<%= link_to '編輯所有玩家', room_players_path(@room.id) %>
<%= link_to '新增玩家', new_room_player_path(@room.id) %>
<%= link_to '用戶權限', control_room_path(@room.id) %>
<hr>
<h4>快速紀錄</h4>

<%= form_tag(records_path, remote: true) do %>
  <%= hidden_field_tag "room_id", @room.id %><br>
  <% @players.each do |player| %>
    <%= hidden_field_tag "records[]player_id", player.id %>
    <%= player.name %>:
    <%= text_field_tag "records[]score" %><br>
  <% end %>
  <%= submit_tag 'send' %>
<% end %>

<div id="valid_result"></div>

<hr>
<h4>戰績表</h4>

<table class="table table-bordered">
  <tr>
    <% @report[:header][:name].each do |name| %>
      <th><%= name %></th>
    <% end %>
  </tr>
  <tr>
    <% @report[:header][:money].each do |money| %>
      <th><%= money %></th>
    <% end %>
  </tr>
  <% @report[:body].each do |record| %>
    <tr>
      <td>
        <%= record[:date] %>
        <%= link_to '編輯', edit_room_game_path(@room.id, record[:id])%>
        <%= link_to '刪除', room_game_path(@room.id, record[:id]), method: :delete %>
      </td>
      <% @report[:header][:id].each do |id| %>
        <td><%= record[id] %></td>
      <% end %>
    </tr>
  <% end %>
</table>


<%= link_to '刪除此房間', room_path(@room), method: :delete %>