<h1><%= @room.name %></h1>

<hr>
<% if current_user.has_role?(:member, @room) %>
  <h4>在房間內</h4>
  <%= link_to '離開房間', left_room_path(@room), method: :post %>
<% end %>
<hr>
<%= link_to '編輯房間', edit_room_path(@room) %>
<%= link_to '編輯所有玩家', room_players_path(@room) %>
<%= link_to '新增玩家', new_room_player_path(@room) %>
<%= link_to '查看房間用戶', users_room_path(@room) %>
<%= link_to '圖表', chart_room_path(@room) %>
<%= link_to '全部戰機', room_games_path(@room) %> 
<hr>
<h4>快速紀錄</h4>

<%= form_tag(room_games_path(@room), remote: true) do %>
  <table>
    <% @players.each do |player| %>
      <tr>
        <td><%= hidden_field_tag "records[]player_id", player.id %></td>
        <td><%= player.name %></td>
        <td><%= text_field_tag "records[]score" %></td>
      </tr>
    <% end %>
    <tr><td colspan="3"><%= submit_tag 'send' %></td></tr>
    
  </table>
<% end %>

<div id="valid_result"></div>

<hr>
<h4>戰績表</h4>

<table class="table table-bordered">
  <tr>
    <% @report[:header][:name].each do |name| %>
      <th><%= name %></th>
    <% end %>
  </tr>
  <tr>
    <% @report[:header][:money].each do |money| %>
      <th><%= money %></th>
    <% end %>
  </tr>
  <% @report[:body].each do |record| %>
    <tr>
      <td>
        <%= record[:date] %>
      </td>
      <% @report[:header][:id].each do |id| %>
        <td><%= record[id] %></td>
      <% end %>
      <td><%= record[:email] %></td>
    </tr>
  <% end %>
</table>

<%= link_to '刪除此房間', destroy_protect_room_path(@room), method: :post, remote: true %>
<div class="modal hide fade" id="modal-protect" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>