<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIFF Starter</title>
</head>

<body>
  <h2>Web here</h2>
  <p><%= @message %></p>
  <p>message: <%= params[:message] %></p>
  <p>callboard: <%= params[:call_board] %></p>
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  <script>
    function initApp() {
      let message = "<%= j(params['message']) %>";
      let callBoard = "<%= j(params['call_board']) %>";
      
      liff.sendMessages([
        {
          type: 'text',
          text: message
        },
        {
          type: 'text',
          text: callBoard
        }
      ])
      if (callBoard == "1") {
        liff.sendMessages([
          {
            type: 'text',
            text: '麻將'
          }
        ])
      }
      liff.closeWindow();
    }
    let liff_id = "<%= j(params['liff_id']) %>";
    
    liff.init({
      liffId: liff_id
    }).then(() => {
      initApp();
    }).catch((err) => {
      alert(err)
    })

  </script>
</body>

</html>