<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div>
  </div>
  <div class="mx-auto order-0">
    <% if @room&.id.present? %>
      <li class="navbar-brand mx-auto"><%= @room.name %></li>
    <% else %>
      <li class="navbar-brand mx-auto" href="#">麻將小幫手 v2.0</li>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rightNav" aria-controls="rightNav" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse order-3" id="rightNav">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="userSetting" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-kiwi-bird"></i>  <%= current_user.name || current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="userSetting">
            
          </div>
        </li>
      <% else %>
        <li><%= link_to '登入', new_user_session_path, class:"nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<div class="nav-space"></div>

<div class="modal hide fade" id="modal-join" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>