<!DOCTYPE html>
<html>
  <head>
    <title>GambleSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="https://kit.fontawesome.com/fd640b4d49.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap');
    </style>
  </head>

  <body>
      <%# <%= render 'layouts/navbar' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
