<!DOCTYPE html>
<html>
  <head>
    <title>GambleSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <%= render 'layouts/navbar' %>
      <div class="page-content-wrapper container">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    <end>
  </body>
</html>
