<!DOCTYPE html>
<html>
  <head>
    <title>GambleSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap');
    </style>

  </head>

  <body>
      <%= render 'layouts/navbar' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
